.v-cointainer .image-cointainer{
    border: 8px solid rgb(232, 232, 232 / 93%);
}

.v-container>div{
    flex: 1;
}

.v-left {
    flex: 0 0 45%;       /* fixed width for image */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.v-left >.image-container{
    width: 25rem;
}

.v-left img {
    width: 100%;          /* image fits container */
    object-fit: cover;
}

.v-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.accordion{
    margin-top: 2rem;
    border: none;
}

.accordionItem{
    background: white;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.accordionItem.expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}

.accordionButton{
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.icon{
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;
}

.icon svg{
    fill: var(--blue);
}

.accordionButton .primaryText{
    font-size: 1.1rem;
}

.shaped-img {
  width: 300px;
  height: auto;

  /* Corners */
  border-top-left-radius: 0;        /* square */
  border-top-right-radius: 70px;    /* curved */
  border-bottom-left-radius: 70px;  /* curved */
  border-bottom-right-radius: 0;    /* square */
}

@media screen and (max-width: 768px) {
    .v-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .v-left {
        flex: 0 0 100%;
    }

    .v-right {
        flex: 0 0 100%;
    }
}
