.footer {
  background: #000;
  color: white;
  padding: 40px 20px;
}

.footer-container {
  max-width: 1400px;
  margin: auto;
  padding: 0 50px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}


.footer-col h3 {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 600;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  margin-bottom: 8px;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col li:hover {
  color: white;
}

/* Bottom Text */
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #aaa;
}

/* center text properly */
.footer-bottom-left {
  flex: 1;
  text-align: center;
  font-size: 25px;
}

/* right aligned logo */
.footer-bottom-logo img {
  width: 230px;
  height: auto;
  margin-left: auto;
  opacity: 0.3;
  transition: 0.3s;
}

.footer-bottom-logo img:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 600px) {
  .footer-bottom {
    flex-direction: column;
    gap: 25px;
  }

  .footer-bottom-logo img {
    margin: 0 auto;
  }
}
